<nav class="navbar navbar-bottom">
    <div class="container text-center">
        <div class="row">
{#            <div class="col col-md-4">#}
{#            </div>#}
            <div class="col col-md-12 row">
                <div class="col-sm-6 col-md-4">
                    <p><b>友情链接</b></p>
                    <ul class="list-unstyled">
                        <li>迈德同信</li>
                        <li>医师助手</li>
                        <li>空中课堂</li>
                        <li>易康伴侣</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <p><b>产品与服务</b></p>
                    <ul class="list-unstyled">
                        <li>迈德用户中心</li>
                        <li>迈德数据中心</li>
                        <li>迈德产品中心</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <p><b>关于</b></p>
                    <ul class="list-unstyled">
                        <li>关于我们</li>
                        <li>加入我们</li>
                        <li>联系我们</li>
                        <li>媒体报道</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <span>Copyright©Medscience-tech.All rights reserved.&emsp;</span>
                </p>
            </div>
        </div>
    </div>
</nav>
