<div class="container-fluid bg-danger sticky-top">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-toggleable-md">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbar_list" aria-controls="navbar_list" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/index">LOGO</a>
            <div class="collapse navbar-collapse" id="navbar_list">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/home">Mime2.0 数据中心</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            test
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
                            <a class="dropdown-item" href="#">test</a>
                            <a class="dropdown-item" href="#">test</a>
                            <a class="dropdown-item" href="#">test</a>
                            <a class="dropdown-item" href="#">test</a>
                        </div>
                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="dropdown nav-item">
                        <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="nav-link" href="/home/logout">logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/home/register">注册</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/login">登录</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div style="margin-top: 56px;"></div>