<div class="container-fluid bg-faded sticky-top" id="top-navbar">
    <div class="container">
        <nav class="navbar navbar-light navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbar_list" aria-controls="navbar_list" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/index">Mime2.0 数据中心</a>
            <div class="collapse navbar-collapse" id="navbar_list">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
{#                        <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            test#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">#}
{#                            <a class="dropdown-item" href="#">test</a>#}
{#                            <a class="dropdown-item" href="#">test</a>#}
{#                            <a class="dropdown-item" href="#">test</a>#}
{#                            <a class="dropdown-item" href="#">test</a>#}
{#                        </div>#}
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/time/index/">时间统计</a></li>
                    <li class="nav-item"><a class="nav-link" href="">空间统计</a></li>
                    <li class="nav-item"><a class="nav-link" href="">公开课</a></li>
                    <li class="nav-item"><a class="nav-link" href="">临床实战</a></li>
                    <li class="nav-item"><a class="nav-link" href="">医者风采</a></li>
                </ul>
                <ul class="navbar-nav">
                    {% if user %}
                    <li class="dropdown nav-item">
                        <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="nav-link" href="/logout">logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/register">注册</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>