body {
    font-family: 'Microsoft YaHei', serif !important;
    background-color: #eeeeee;
}

[v-cloak] {
    display: none;
}

.min-height {
    min-height: 600px;
}

.pinned {
    z-index: 99999;
}

#top-navbar {
    box-shadow: 0 1px 1px 0 #aaa;
}