body {
    font-family: 'Microsoft YaHei', serif !important;
    background-color: #ecf0f5;
}

[v-cloak] {
    display: none;
}

.min-height {
    min-height: 600px;
}

#top-navbar {
    box-shadow: 0 1px 2px 0 #eee;
}
