{% extends 'layouts/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block content %}

    <div class="container">
        <div class="container">
            <br>
            {#        <div class="col text-center">#}
            {#            <h1>Mime2.0 数据统计</h1>#}
            {#        </div>#}
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-inverse card-info mb-3">
                    <div class="card-block p-3">
                        <i class="fa fa-4x fa-mouse-pointer pr-3"></i>
                        <div class="card-title h3">123123</div>
                        <div class="card-text">访问总量</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-inverse card-success mb-3">
                    <div class="card-block p-3">
                        <i class="fa fa-4x fa-users pr-3"></i>
                        <div class="card-title h3">123123</div>
                        <div class="card-text">注册总量</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-inverse card-warning mb-3">
                    <div class="card-block p-3">
                        <i class="fa fa-4x fa-user-md pr-3"></i>
                        <div class="card-title h3">123123</div>
                        <div class="card-text">认证总量</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-inverse card-danger mb-3">
                    <div class="card-block p-3">
                        <i class="fa fa-4x fa-cny pr-3"></i>
                        <div class="card-title h3">123123</div>
                        <div class="card-text">交易总量</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card card-info card-inverse mb-3">
                    <div class="card-header">
                        <b>全国用户分布</b>
                    </div>
                    <div class="card-block">
                        <div id="all_map_user" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/charts/map/china.js"></script>
    <script src="/static/js/charts/all_map_user.js"></script>
{% endblock %}
