{% extends 'layouts/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">123123</div>
                        <div class="card-text">访问总量</div>
                    </div>
                </div>

                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">12313</div>
                        <div class="card-text">注册总量</div>
                    </div>
                </div>

                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">123123</div>
                        <div class="card-text">认证总量</div>
                    </div>
                </div>
                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">123123</div>
                        <div class="card-text">订单总量</div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3" style="background:#404A59;">
                    {#                    <div class="card-header">#}
                    {#                        <b>全国用户分布</b>#}
                    {#                    </div>#}
                    <div class="card-block">
                        <div id="all_heatmap_doctor_gis" style="height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4" id="all_pie_doctor_title" style="height: 300px"></div>
                            <div class="col-md-4" id="all_pie_doctor_office" style="height: 300px"></div>
                            <div class="col-md-4" id="all_pie_doctor_grade" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    {#                    <div class="card-header">#}
                    {#                        <b>全年用户统计</b>#}
                    {#                    </div>#}
                    <div class="card-block">
                        <div id="all_bar_doctor_age" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <label for="select_year"><b>选择年份</b></label>
                        <select id="select_year" class="custom-select">
                            <option>2017年</option>
                        </select>
                    </div>
                    <div class="card-block">
                        <div id="year_bar_doctor_all_count" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    {#                    <div class="card-header">#}
                    {#                        <input type="date" title="">#}
                    {#                    </div>#}
                    <div class="card-block">
                        <div id="month_line_doctor_all_count" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    {#                    <div class="card-header">#}
                    {#                        <b>全年用户统计</b>#}
                    {#                    </div>#}
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4" id="month_gauge_doctor_1" style="height: 300px"></div>
                            <div class="col-md-4" id="month_gauge_doctor_2" style="height: 300px"></div>
                            <div class="col-md-4" id="month_gauge_doctor_3" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/home.js"></script>
{% endblock %}
