{% extends 'layouts/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block content %}
    <div class="container pinned-container">
        <div class="row mt-4" id="all_map_doctor_gis_block">
            <div class="col-md-9 col-lg-10">
                <div class="card mb-3">
                    <div class="card-block">
                        <div style="position: absolute">
                            <div class="pinned">
                                <label for="select_province"></label>
                                <select id="select_province" class="custom-select"
                                        style="border-radius: 50px;box-shadow: 0 0 3px;" v-model="select_province">
                                    <option v-cloak v-for="province in provinces" :value="province">[[province]]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div id="all_map_doctor_gis" style="height: 500px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="card mb-3">
                    <div class="card-block p-3">
                        <div class="card-title h3" v-cloak>[[ get_data.register_count ]]</div>
                        <div class="card-text">注册总量</div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-block p-3">
                        <div class="card-title h3" v-cloak>[[ get_data.authorize_count ]]</div>
                        <div class="card-text">认证总量</div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-block p-3">
                        <div class="card-title h3" v-cloak>[[ get_data.trade_count ]]</div>
                        <div class="card-text">订单总量</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4" id="all_pie_doctor_title" style="height: 300px"></div>
                            <div class="col-md-4" id="all_pie_doctor_office" style="height: 300px"></div>
                            <div class="col-md-4" id="all_pie_doctor_grade" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/region.js"></script>
{% endblock %}
