{% extends 'layouts/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">{{ statistic_info.register_count }}</div>
                        <div class="card-text">注册总量</div>
                    </div>
                </div>

                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">{{ statistic_info.authorize_count }}</div>
                        <div class="card-text">认证总量</div>
                    </div>
                </div>

                <div class="card mb-3 card-inverse bg-inverse">
                    <div class="card-block p-3">
                        <div class="card-title h3">{{ statistic_info.trade_count }}</div>
                        <div class="card-text">订单总量</div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3" style="background:#404A59;">
                    {#                    <div class="card-header">#}
                    {#                        <b>全国用户分布</b>#}
                    {#                    </div>#}
                    <div class="card-block">
                        <div id="all_heatmap_doctor_gis" style="height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4" id="all_pie_doctor_title" style="height: 300px"></div>
                            <div class="col-md-4" id="all_pie_doctor_office" style="height: 300px"></div>
                            <div class="col-md-4" id="all_pie_doctor_grade" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    {#                    <div class="card-header">#}
                    {#                        <b>全年用户统计</b>#}
                    {#                    </div>#}
                    <div class="card-block">
                        <div id="all_bar_doctor_age" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-block" id="year_bar_doctor_all_count_block">
                        <label for="select_year1"><b>选择年份</b></label>
                        <select id="select_year1" class="custom-select" v-model="select_year">
                            <option value="2017">2017年</option>
                            <option value="2018">2018年</option>
                        </select>
                        <hr>
                        <div id="year_bar_doctor_all_count" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    {#                    <div class="card-header">#}
                    {#                        <input type="date" title="">#}
                    {#                    </div>#}
                    <div class="card-block" id="month_line_doctor_all_count_block">
                        <label for="select_year2"><b>选择年月</b></label>
                        <select id="select_year2" class="custom-select" v-model="select_year">
                            <option value="2017">2017年</option>
                        </select>
                        <label for="select_month2"></label>
                        <select id="select_month2" class="custom-select" v-model="select_month">
                            <option value="1">1月</option>
                            <option value="2">2月</option>
                            <option value="3">3月</option>
                            <option value="4">4月</option>
                            <option value="5">5月</option>
                            <option value="6">6月</option>
                            <option value="7">7月</option>
                            <option value="8">8月</option>
                            <option value="9">9月</option>
                            <option value="10">10月</option>
                            <option value="11">11月</option>
                            <option value="12">12月</option>
                        </select>
                        <hr>
                        <div id="month_line_doctor_all_count" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/time.js"></script>
{% endblock %}
